/* Variables */
:root {
    --color1: #ede8d40;
    --color2: pink;
    --color3: #393b4b;
    --color4: rgb(18, 19, 19);
}

/* Mini Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* center/cover : photo à l'echelle */
    background: url('./assets/bg.jpg') center/cover;
    /* Le body prend toute la taille de l'écran de l'utilisateur */
    height:100vh;
    /* integration d'une fonte family */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

