/* Variables */
:root {
    --color1: #ede4d0;
    --color2: pink;
    --color3: #393b4b;
    --color4: rgb(18, 19, 19);
}

/* Mini Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* center/cover : photo à l'echelle */
    background: url('./assets/bg.jpg') center/cover;
    /* Le body prend toute la taille de l'écran de l'utilisateur */
    height:100vh;
    /* integration d'une fonte family */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* Apelle d'une variable couleur */
    color: var(--color1);
    /* Reglage FlexBox */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card,
.link {
    /* Couleur avec effet de transparence */
    background: rgba(0, 0, 0, 0.459);
    /* Calcul : largeur de 100% - 50px */
    /* ATTNTION ESPACE autour de l'opérateur arythmitique */
    width: calc(100% - 50px);
    /* haut gauche/droite bas */
    padding: 20px 20px 6px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.532);
    border-radius: 5px;
    /* Créer un flou */
    backdrop-filter: blur(5px);
    margin-top: 200px;
}

/************************************ Pseudo Element After / Before ************************************/
/* Permet d'accoler un élément avant ou après une balise htlm */

.card:before {
    /* On récupere le code sur le site html symbols */
    content: "\2730";
    /* On positionne l'élément ou on veut */
    position: absolute;
    top: 14px;
    right: 20px;
    /* Agrandir l'icone toujours en rem */
    font-size: 2.4rem;
}

h1{
    margin-bottom: 24px;
    position: relative;
    
}

h1::after {
    content:"";
    position: absolute;
    background: var(--color2);
    height: 1px;
    width: 100%;
    bottom: -10px;
    left: -10px;  
    transform: scaleX(0);
    /* On appelle l'animation déclaré plus bas */
    animation: h1anim 10s ease-in-out forwards;
    /* De ou par l'animation */
    transform-origin: center;
}

/* Declaration de l'animation mot clef: @keyframes + nom de l'animation */
@keyframes h1anim {
    100% {
        transform: scaleX(1);
    }
}

/************************************ Rapelle grid ************************************/
/* Permet de repartir de maniere tres précise les éléments sur la page */

.grid-container {
    display: grid;
    grid-template-columns: 20% 80%;
}

/************************************ Polygone ************************************/
.polygon-container {
    /* Ombre du polygone, l'ombre reprend exactement la forme du polygone */
    filter: drop-shadow(-1px 6px 3px var(--color2));
    /* Centrer l'élément : le polygone -> METTRE LE parent en GRID !!*/
    place-self: center left;
}
.polygon {
    /* Creation du polygone */
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    /* Gradient */
    /* Couleur au polygone */
    background: linear-gradient(135deg, var(--color2) 0%, var(--color1) 100%);
    /* On lui donne une taille */
    height: 100px;
    width: 100px;
}

 /************************************ AFTER ************************************/
 .polygon:after {
    content: "Un texte";
    /* Je peux le placer ou je veux */
    position: absolute;
    color: var(--color2);
    background: var(--color4);
    /* Centrer un élément en position absolute */
    top: 35%;
    left: 50%;
    /* Centrer en son centre */
    transform: translate(-50%) rotate(344deg);
    width: 90px;
    padding: 4px;
    text-align: center;
 }

 /************************************ Text ************************************/
 p {
     /* Ecartement entre les lignes */
     line-height: 26px;
     margin: 20px 0;
     /* Parametre le nombre de ligne visibles */
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 4;
     overflow: hidden;
     text-align: center;
 }

 /* Change la couleur de fond de la sélection du texte */
p::selection {
    background: var(--color2);
    color: var(--color3);
}

 /************************************ ChexBox ************************************/
.checkbox-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 30px;
}
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + label{
    background: var(--color2);
    color: var(--color3);
    transform: scale(1.1);
    /* Filtre Luminisoté */
    filter: brightness(120%);
}

label {
    cursor: pointer;
    border: 1px solid var(--color1);
    background: var(--color3);
    padding: 10px;
    border-radius: 5px;
    transition: 0.2s;
    /* Empecher l'utilisateur de slectionner le texte */
    user-select: none;
}

/* Animation sur le label. Sur le premier label */
label:first-of-type:hover {
    /* linear : fluide / alternate : aléatoire */
    animation: label1 1s infinite linear;
}

@keyframes label1 {
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

/* Animation 3D */
label:nth-child(4) {

}

.e-mail {
    text-align: center;
    margin-bottom: 20px;
}

/* Je selectionne l'input present dans la classe e-mail */
.e-mail input {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 3px solid transparent;
    transition: 0.3s;
    text-align: center;
    font-size: 1.1rem;
    color: var(--color1);
    width: 35%;
    /* Condition sur la largeur (responsive) */
    max-width: 300px;
    min-width: 180px;
}

/************************************ Focus ************************************/
input[type="text"]:focus {
    background:transparent;
    border: 3px solid var(--color2);
    border-radius: 150px;
}

/* Style sur le placeholder */
input[type="text"]::placeholder {
    color: var(--color2);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/************************************ Valider  ************************************/

button {
    cursor: pointer;
    background: var(--color2);
    border: none;
    font-size: 1.3rem;
    padding: 10px 20px;
    border-radius: 150px;
    margin: 0 auto;
    /* De base in-line block */
    display: block;
    /* Toujours dans l'élément parent pour avoir la transition aller / retour */
    transition: 0.1s;
}

button:hover {
    letter-spacing: 3px;
}

/* Quand on clique sur l'élément */
button:active {
    transform: scale(1.2);
}

button:hover + a,
a:hover {
    opacity: 1;
    transform: translateY(0);
    transition: 0.3s;
}

/************************************ div link ************************************/
.cgc {
    opacity: 0;
    transform: translateY(20px);
}

.link {
    margin-top:30px;
    
}

a {
    color:var(--color2);
    text-align: center;
    display: block;
}

a:visited {
    color: var(--color1);
}

/************************************ les Transitions ************************************/