/* Centrer un élément horizontalement parfaitement */
/* Si l'élément est en block  */
.titre {
    text-align: center;
}
.boite {
    margin: 0 auto; /* haut/bas gauche/droite */
    display: block; /* Si jamais in n'est pas en block de base (img, a , span, button) */
}

/* ********************** Flex ********************** */

/* Centrer un élément dans sa boite (enfant unique) */
.parent-d-un-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Répartir équitablement sur la même ligne des éléments dans la page  */
.parent-de-plusieurs-enfants {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ********************** GRID ********************** */

/* Repartir précisement des elements dans la largeur avec des tailles différentes  */
.parent-de-3-elements {
    display: grid;
    grid-template-columns: 25% 55% 20%;
}

/* Créer des grilles complexes  */
.parent-des-elements {
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    grid-template-rows: 1fr 1fr 300px;
    grid-template-areas: 
    "header header header"
    "side main main"
    "side footer footer";
    gap: 10px; /* Ecart entre les enfants */
}

.enfant1 {
    grid-area: header;
}

/* ********************** Position Absolute ********************** */
/* Centrer parfaitement un element  */
.parent {
    position: relative; /* L'enfant reste dans les frontière du parent */
}

.enfant {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
